html, body {
    user-select: none;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    text-align: center;
    font-size: 1.1em;
    box-sizing: border-box;
    color: white;
    /* text-shadow: 1px 1px 0px white, -1px -1px 0px white, -1px 1px 0px white, 1px -1px 0px white; */
}
html {
    background-image: url("media/Background.png");
    background-size: cover;
}
button {
    border: none;
    background-color: rgba(0,0,0,0);
}

/* Id Specifications*/
#InstructionsHide {
    background-image: url("media/Popup.jpg");
    background-size: cover;
    height: 100%;
}
#GameCanvas {
    flex-wrap: wrap;
}
#RestartAndDifficulty {
    position: absolute;
    right: 0px;
    top: 138px;
}

/* Flexbox Styling */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wireframe {
  border: 1px solid black;
  box-sizing: border-box;
}
.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
.item {
    margin: 5px;
}
.horizontal {
    flex-direction: row;
}
.vertical {
    flex-direction: column;
}
.maxwidth {
    width: 100%;
}
.maxheight {
    height: 100%;
}
.shrinkwrap {
    height: fit-content;
    width: fit-content;
}

/*Star Styles*/
.star-on {
    background-image: url("media/Star_On.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.star-off {
    background-image: url("media/Star_Off.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}

/* Misc */
.player-icon {
    border-radius: 50%;
    border: 2px solid white;
}
.menu-background {
    background-color: rgb(21,104,226);
    border: 2px solid white;
    box-sizing: border-box;
}
.description-background {
    background-color: purple;
    border: 2px solid white;
    box-sizing: border-box;
}
.pad-text {
    padding: 10px;
}
.harpoon-group {
    padding: 0% 5%;
}
.take-button {
    background-color: steelblue;
    border-bottom: 2px solid white;
    padding: 5px;
    font-weight: bold;
    color: white;
}
.take-button:hover {
    background-color: cadetblue;
}
button:hover {
    cursor: pointer;
}