/* Element Styling */
html, body {
    margin: 0px;
    padding: 0px;
}
img {
    height: 40px;
    width: 40px;
    position:absolute;
}

/* General Classes */
.container { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical {
    flex-direction: column;
}
.horizontal {
    flex-direction: row;
}
.item {
    padding: 3px;
    margin: 3px;
    text-align: center;
}
.max-width {
    width: 100%;
}
.max-height {
    height: 100%;
}

/* Game Board Styles */
#GameBoard:hover {
    cursor: pointer;
}
#GameBoardVisual {
    border: 30px solid brown;
    width: fit-content;
}
.boardCell {
    background-color: lightgoldenrodyellow;
    height: 36px;
    width: 36px;
    border: 2px solid brown;
}

/* <!-- Beginning of color button styling
.dropbtn {
    background-color: #4e044e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor:pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b7cb4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #b4800f;}
  End of Color Button styling */