/* Element Styling */
html, body {
    margin: 0px;
    padding: 0px;
}
img {
    height: 40px;
    width: 40px;
    position:absolute;
}

/* General Classes */
.container { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical {
    flex-direction: column;
}
.horizontal {
    flex-direction: row;
}
.item {
    padding: 3px;
    margin: 3px;
    text-align: center;
}
.max-width {
    width: 100%;
}
.max-height {
    height: 100%;
}

/* Game Board Styles */
#GameBoard:hover {
    cursor: pointer;
}
#GameBoardVisual {
    border: 30px solid brown;
    width: fit-content;
}
.boardCell {
    background-color: lightgoldenrodyellow;
    height: 36px;
    width: 36px;
    border: 2px solid brown;
}